.card{
    
    
    &__image{

    
    width: 100%;
    aspect-ratio: 4/5;
    // height:326px;
    border-radius: 2px;
    // object-fit:contain;
    position:relative;
    overflow: hidden;


 


}}