.card{
    
    
    &__image{

    
    // width: 100%;
    aspect-ratio: 1;    // height:326px;
    border-radius: 2px;
    // object-fit:contain;
    position:relative;
    overflow: hidden;


 


}}