.page {
    background-color: rgba(15, 255, 255, 0.3);
    padding-inline: 30px;
    border-radius: 50px;
    padding-block: 10px;
    // border:1px solid black;
    box-shadow:0 1px 5px black;

    &:hover {
        background-color: aqua;
        transform: scale(1.1);
    }
}


.active {
    background-color: rgb(181, 180, 178);
}

 .option {
     border-radius: 20px;
     border: none;
 }