.button {
  background: #e43715;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  margin: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

}
